*.pkl
*.h5
*.ai
*.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/

.idea/
.DS_Store
.vscode/
.pytest_cache/
UNKNOWN.egg-info/
EIANN.egg-info/

docs/_build/
dist/
EIANN/notebooks/figures
EIANN/notebooks/saved_networks/
EIANN/optimize/figures
EIANN/figures/
EIANN/data/datasets/
EIANN/data/mnist/*
EIANN/data/rl_plots/
EIANN/data/cl_plots/
EIANN/data/*.yaml

manuscript/

EIANN/data/mnist