.idea/
.DS_Store
.vscode/settings.json
dist/
UNKNOWN.egg-info/
EIANN.egg-info/
**/__pycache__/

EIANN/notebooks/.ipynb_checkpoints/
EIANN/notebooks/.DS_Store
EIANN/notebooks/figures
EIANN/notebooks/saved_networks/

EIANN/optimize/figures

EIANN/data/
EIANN/figures/

