*.pkl
*.DS_Store
.idea/
.DS_Store
.vscode/
dist/
.pytest_cache/
UNKNOWN.egg-info/
EIANN.egg-info/
**/__pycache__/
docs/_build/

EIANN/notebooks/.ipynb_checkpoints/
EIANN/notebooks/figures
EIANN/notebooks/saved_networks/
EIANN/optimize/figures
EIANN/data/
EIANN/figures/